body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}
header {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 60px;

    background-color: #1e3a5f;
    color: white;

    text-align: center;
}
.dashboard {
    display: flex;

    margin-top: 60px;
}

aside {
    width: 200px;

    min-height: calc(100vh - 60px);

    background-color: #dceaf5;

    padding: 20px;
}

aside a {
    display: block;

    color: #1e3a5f;

    text-decoration: none;

    padding: 15px 5px;
}


main {
    flex: 1;

    padding: 30px;
}

.boxes {
    display: flex;
    gap: 20px;
}


.box {
    flex: 1;

    background-color: white;

    padding: 30px;

    text-align: center;

    box-shadow: 0 4px 8px gray;

    border-radius: 10px;
}


@media (max-width: 600px) {

    .dashboard {
        flex-direction: column;
    }

    aside {
        width: auto;
        min-height: auto;
    }

    .boxes {
        flex-direction: column;
    }

}