* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.blog {
    min-height: 100vh;

    display: grid;

    grid-template-columns: 200px 1fr;

    grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer";

    gap: 20px;
    padding: 20px;
}
header {
    grid-area: header;
    padding: 20px;
    text-align: center;
    background-color: #333;
    color: white;
}
nav{
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav a {
    color: white;
    text-decoration: none;
}
aside{
    grid-area: sidebar;
    padding: 20px;
    background-color: #eee;
}
main {
    grid-area: main;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

article {
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
}
footer {
    grid-area: footer;
    padding: 15px;
    text-align: center;
    background-color: #333;
    color: white;
}

@media (max-width: 800px) {

    .blog {
        grid-template-columns: 1fr;

        grid-template-areas:
            "header"
            "main"
            "sidebar"
            "footer";
    }

    main {
        grid-template-columns: 1fr;
    }
}